.content {
  font-size: 1.125rem;
  line-height: 1.8;
}

.content h2,
.content h3,
.content h4 {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.content p {
  margin-bottom: 1.5rem;
}

.content ul,
.content ol {
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.content ul {
  list-style-type: disc;
}

.content ol {
  list-style-type: decimal;
}

.content li {
  margin-bottom: 0.5rem;
}

.content pre {
  margin-bottom: 1.5rem;
}

.content a {
  text-decoration: underline;
  text-underline-offset: 0.2em;
}
